<div class="row">
  
  <div class="flip-container col-lg-3 col-md-6 col-sm-12" ><!--(touchstart)=""-->
	<div class="flipper">
		<div class="front">
      front
			<!-- front content -->
		</div>
		<div class="back">
      back
			<!-- back content -->
		</div>
	</div>
</div>

<div class="flip-container col-lg-3 col-md-6 col-sm-12" ><!--(touchstart)=""-->
	<div class="flipper">
		<div class="front">
      front
			<!-- front content -->
		</div>
		<div class="back">
      back
			<!-- back content -->
		</div>
	</div>
</div>

<div class="flip-container col-lg-3 col-md-6 col-sm-12" ><!--(touchstart)=""-->
	<div class="flipper">
		<div class="front">
      front
			<!-- front content -->
		</div>
		<div class="back">
      back
			<!-- back content -->
		</div>
	</div>
</div>

<div class="flip-container col-lg-3 col-md-6 col-sm-12" ><!--(touchstart)=""-->
	<div class="flipper">
		<div class="front">
      front
			<!-- front content -->
		</div>
		<div class="back">
      back
			<!-- back content -->
		</div>
	</div>
</div>

</div>