<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/favicon.ico" width="30" height="30" alt="">
      </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id ="link0" class="nav-link" href="#">Link</a>
        </li>

        <li id="link1" class="nav-item btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class=" bg-light nav-link dropdown-toggle"
                        aria-controls="dropdown-basic">
                  History <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                  </li>
                </ul>
        </li>


        <li class="nav-item btn-group" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
        <a href id="basic-link1" dropdownToggle class="nav-link dropdown-toggle" (click)="false"
           aria-controls="basic-link-dropdown">Click me</a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="basic-link">
          <li *ngFor="let choice of items">
            <a class="dropdown-item" href="#">{{choice}}</a>
          </li>
        </ul>
        </li>
  

        <li class="nav-item btn-group" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
          <a href class="nav-link dropdown-toggle"  dropdownToggle (click)="false" id="basic-link" aria-controls="basic-link-dropdown">
            Dropdown
          </a>
          <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                  </li>
        </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  
  
  

  

